<div class="container mt-5">
  <div class="card">
    <div class="card-header text-center">
      <h2>Update Profile</h2>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onUpdate()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" [(ngModel)]="user.name" name="name" class="form-control">
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" id="lastname" [(ngModel)]="user.lastname" name="lastname" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" [(ngModel)]="user.email" name="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="role">Role</label>
          <input type="text" id="role" [(ngModel)]="user.role" name="role" class="form-control">
        </div>
        <div class="form-group">
          <label for="sexe">Sexe</label>
          <input type="text" id="sexe" [(ngModel)]="user.sexe" name="sexe" class="form-control">
        </div>
        <div class="form-group">
          <label for="matricule">Matricule</label>
          <input type="number" id="matricule" [(ngModel)]="user.matricule" name="matricule" class="form-control">
        </div>
        <div class="form-group">
          <label for="tel">Phone</label>
          <input type="text" id="tel" [(ngModel)]="user.tel" name="tel" class="form-control">
        </div>
        <div class="form-group">
          <label for="dateNaissance">Date of Birth</label>
          <input type="date" id="dateNaissance" [(ngModel)]="user.dateNaissance" name="dateNaissance" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Update Profile</button>
      </form>
    </div>
  </div>
</div>
